body{
	background-image:url("../images/grass.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height:900px;
	width:100%;
}

h1 p{
  text-align: center;
}
nav ul li {
  list-style-type: none;
  display:flex;
  float:right;
  padding:20px;
}

nav ul {
  display: flex;
  padding: 20px;
  border:cyan;
  float:right;
  font-size: 30px;   
}
nav ul li a:hover{
  background-color:cyan;
}

.main-container{
  font-family: 'opensans-regular',sans-serif;
  min-height: 490px;
  text-align:top;
  color:black;
  padding-top: 200px;
}
p{
  font-size: 20px;
  text-align:left;
  float:left;
}



/*.topnav a:hover {
  background-color: #ddd;
  color: black;
}